<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="../static/css/loginStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  
</head>

<body>
  <form method="POST" action="">
    <div class="header1">
        <a class="title" href="index.html">Pawfect Match</a>
    </div>
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Pick Your Partner</legend>
          <div class="row">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors%}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            
            <div class="row">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors%}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                <div class="pass"><a href="#">Forgot password?</a></div>
              </div>
            

            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" name="Remember"/> Remember me
              </label>
            </div>

          
          <div class="row button">
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="signup-link">Not a member? <a href="signup.html">Signup now</a></div>
            <div class="signup-link">Return <a href="index.html">Home</a></div>

        </div>
      </div>
   </div>
</body>

</html>






<!--<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="../static/css/preference.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  
</head>

<body>
  <div class="header1">
    <a class="title" href="index.html">Pawfect Match</a>
  </div>


  <div class="container">
    <div class="wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}

      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>


      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}
      <div class="content-section">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="container">
              <div class="wrapper">
                <div class="title"><span>Login</span></div>
                </div>
                </div>


            <!-<legend class="border-bottom mb-4">Login</legend>--
            <div class="row">
              <div class="fas fa-lock">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors%}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            </div>


            <div class="row">
              <div class="fas fa-lock">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors%}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            </div>


            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="Remember" />
                Remember me
              </label>
            </div>


          </fieldset>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="signup-link">Not a member? <a href="signup.html">Signup now</a></div>
            <div class="signup-link">Return <a href="index.html">Home</a></div>
        </form>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>

</html>-->