<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="../static/css/preference.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
  <form method="POST" action="">
    <div class="header1">
        <a class="title" href="index.html">Pawfect Match</a>
		<a class="left" href="profile.html">Profile</a>
        <a class="left" href="likePage.html">Matches</a>
		<a class="left" href="matchpage.html">Home</a>
    </div>
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Preference Form</span></div>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Pick Your Partner</legend>
          <div class="row">
            <label for="{{ form.species.id }}">Select animal species</label>
            {{ form.species(class="form-control form-control-lg", placeholder="Species") }}
            {% if form.species.errors %}
            <div class="invalid-feedback">
              {% for error in form.species.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="row">
            <label for="{{ form.age.id }}">Select animal age</label>
            {{ form.age(class="form-control form-control-lg", placeholder="Age") }}
            {% if form.age.errors %}
            <div class="invalid-feedback">
              {% for error in form.age.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="row">
            <label for="{{ form.gender.id }}">Select Gender</label>
            {{ form.gender(class="form-control form-control-lg", placeholder="Gender") }}
            {% if form.gender.errors %}
            <div class="invalid-feedback">
              {% for error in form.gender.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="row">
            <label for="{{ form.size.id }}">Select size of the animal</label>
            {{ form.size(class="form-control form-control-lg", placeholder="Size") }}
            {% if form.size.errors %}
            <div class="invalid-feedback">
              {% for error in form.size.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.location.label(class="form-control-label") }}
            {% if form.location.errors %}
              {{ form.location(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.location.errors%}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
          {% else %}
              {{ form.location(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        </fieldset>
        <div class="form-group button">
          {{ form.submit(class="btn btn-outline-info", value="Save") }} 
        </div>
      </div>
    </div>
  </form>
</body>

</html>

