<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Profile | CodingLab</title>
    <link rel="stylesheet" href="../static/css/preference.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="header1">
		<a class="title" href="index.html"><img src="../static/images/pmwhitelogo.png" width=200px alt="Logo" class="logo"></a>
		{% if not current_user.User_image=='None' %}
		<div class="title">
			<img src="{{current_user.User_image}}" width= 48px height= 48px alt="No Image Avaliable" />
		</div>
		{% endif %}
		<a class="title" href="profile.html">{{current_user.username}}</a>
    <a class="title" href="match.html">Home</a>
    <a class="title" href="preference.html">Preference</a>
    <a class="title" href="likePage.html">Matches</a>
		<a class="title" href="/logout">Logout</a>
	</div>
    <form method="POST" action=""enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="wrapper">
                <div class="title"><span>Build Your Profile</span></div>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Pick Your Partner</legend>
                    <div class="row">
                        <label for="{{ form.species.id }}">Select animal species</label>
                        {{ form.species(class="form-control form-control-lg", placeholder="Species") }}
                        {% if form.species.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.species.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <label for="{{ form.age.id }}">Select animal age</label>
                        {{ form.age(class="form-control form-control-lg", placeholder="Age") }}
                        {% if form.age.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <label for="{{ form.gender.id }}">Select Gender</label>
                        {{ form.gender(class="form-control form-control-lg", placeholder="Gender") }}
                        {% if form.gender.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <label for="{{ form.size.id }}">Select size of the animal</label>
                        {{ form.size(class="form-control form-control-lg", placeholder="Size") }}
                        {% if form.size.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.size.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}
                        {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors%}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
            <div class="form-group">
                {{form.profile}}
            </div>
                <div class="form-group button">
                    {{ form.submit(class="btn btn-outline-info", value="Save") }}
                </div>
            </div>
        </div>
    </form>
</body>

</html>